<ion-view view-title="Laulumaa" hide-nav-bar="true">
	<ion-pane>
		<ion-content scroll="false">

			<div ion-pinch id="product_container" ng-style="draggedStyle">
				<img src="http://niisku.lamk.fi/~juvoteem/laulumaa/images/default.png" width="75%" class="product" ng-style="product" id="product">
			</div>

		</ion-content>

		<div class="bar bar-dark ezar ezar-footer"></div>

		<a id="snapshot" class="ezar-button" ng-click="snapshot()"></a>
		<!-- <a id="revcamera" class="ezar-button" ng-click="reverseCamera()"></a> -->
	</ion-pane>
</ion-view>