body {
    background-color: transparent;
}

.pane {
    background-color: transparent;
}

.button-right {
    position: absolute;
    right: 5px;
}

.item.item-image img {
    height: 150px;
}

@media screen and (min-width: 321px) {
    .item.item-image img {
        height: 171px;
    }
}

@media screen and (min-width: 500px) {
    .item.item-image img {
        height: 320px;
    }
}

@media screen and (min-width: 1000px) {
    .item.item-image img {
        height: 470px;
    }
}

#product_container {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

#bg {
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.product {

}

.landing {
    background-color: #aaccaa;
}

.edit {
    background-color: transparent;
}

.header {
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
    color: rgba(53, 53, 53, 1);
    font-weight: 500;
    font-size: 130%;
    letter-spacing: 2px;
}
.header img {
    padding-bottom: 10px;
}

.card {
    margin: 10px 10px;
}

.footer {
    text-align: center;
}

#title {
    /*color: darkred;*/
    color: white;            
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
}
.button-edit {
    line-height: 20px;
}
.button-icon {
    padding: 0;
    margin: 0;
    color: white;
}

.button-icon .icon:before {
}
.button-icon .icon {
  display: block;
}

.edit-footer {
    height: 100px;
    bottom: 0px;
    opacity: 0.45;
}

.ezar-footer {
    height: 100px;
    bottom: 0px;
}

.ezar-button {
   position: absolute; 
   z-index: 100;
   background-color: transparent;
   border-style: none; 
}

.resize-button {
    position: absolute; 
    z-index: 100;
    background-color: transparent;
    border-style: none; 
}

.resize-button img {
    width: 50px;
    height: 50px;
}

#main-back-button {
    font-size: -webkit-xxx-large;
    bottom: 25px;
    margin-left: 20px;
    color: white;
}

#edit-back-button {
    text-align: center;
    font-size: -webkit-xxx-large;
    bottom: 20px;
    margin-left: 20px;
    color: white;
}

#edit-add-button {
    text-align: center;
    font-size: -webkit-xxx-large;
    bottom: 20px;
    left: 50%;
    margin-left: -42.5px;
}

#edit-confirm-button {
    text-align: center;
    font-size: -webkit-xxx-large;
    bottom: 20px;
    right: 20px;
    margin-left: 20px;
    color: white;
}

#snapshot {   
    width: 72px;
    height: 72px;
    bottom: 15px;
    left: 50%;
    margin-left: -36px;
    background: url("../img/camera.png") no-repeat top;
}

#snapshot:active { 
   background: url("../img/camera_blue.png") no-repeat top;
}

#revcamera {    
    width: 50px;
    height: 50px;
    bottom: 27px;
    right: 10px;
    background: url("../img/reverse_camera_50.png") no-repeat top;
}

#revcamera:active {    
    background: url("../img/reverse_camera_blue_50.png") no-repeat top;
}

#plus {
    width: 50px;
    height: 50px;
    bottom: 27px;
    right: 25px;
    background: url("../img/plus.png") no-repeat top;
    background-size: 50px 50px;
}

#minus {
    width: 50px;
    height: 50px;
    bottom: 27px;
    left: 25px;
    background: url("../img/minus.png") no-repeat top;
    background-size: 50px 50px;
}


.hide {
    display: none;
}